services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: express_backend
    ports:
      - "3333:3333"
    volumes:
      - ./backend:/app/backend
      - ./shared:/app/shared
      - /app/backend/node_modules
      - /app/shared/node_modules
    environment:
      - PORT=3333
      - DATABASE_URL=postgresql://postgres:postgres@host.docker.internal:54322/postgres
      - SUPABASE_URL=http://host.docker.internal:54321
      - SUPABASE_SERVICE_KEY=your_local_service_role_key_here
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_frontend
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/shared/node_modules
      - /app/.next
    environment:
      - BACKEND_API_BASE_URL=http://host.docker.internal:3333
    depends_on:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"
